#bodyy {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
#disc {
  font-size: 14px;
}

#cast {
  font-size: 12px;
}

#name {
  width: 75%;
  float: right;
  padding-bottom: 5px;
}

#Imge {
  width: 25%;
  float: left;
}

#Img {
  width: 93%;
  height: 160px;
  border-radius: 5px;
}
a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3cm;
}

#block {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  padding: 7px;
  margin-right: 2px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}
